In [1]:
import pandas as pd 
import openai
import time

In [2]:
df = pd.read_csv('concise_BANKNIFTY_minute_wise_19_22.csv')

In [3]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
#df

In [4]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

# Add a new column 'Weekday' representing the weekday
df['Weekday'] = df['Date'].dt.day_name()

In [5]:
df[df["Weekday"] == "Saturday"]

           Date      Time       Open      High       Low     Close   Weekday
1437 2020-02-01  09:07:00  30653.165  30726.20  30726.20  30726.20  Saturday
1438 2020-02-01  10:14:00  30791.345  30801.95  30779.05  30794.40  Saturday
1439 2020-02-01  11:14:00  30855.415  30882.70  30868.50  30876.00  Saturday
1440 2020-02-01  12:14:00  30674.680  30657.60  30626.25  30636.65  Saturday
1441 2020-02-01  13:14:00  30490.130  30668.85  30624.75  30637.20  Saturday
1442 2020-02-01  14:14:00  30300.605  30356.40  30336.20  30336.20  Saturday
1443 2020-02-01  15:14:00  29797.580  29819.10  29772.05  29810.85  Saturday
2814 2020-11-14  18:07:00  28709.690  28685.70  28685.70  28685.70  Saturday
2815 2020-11-14  19:14:00  28554.850  28521.75  28502.10  28519.20  Saturday

In [6]:
# openai.api_key = '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'

# message_history = [{"role": "user", "content": f"You are a trading trend analysis assistant bot. I will specify the subject matter in my messages, and you will reply with information that includes the subjects I mention in my messages. Reply only with information to further input. If you understand, say OK."},
#                    {"role": "assistant", "content": f"OK"}]


# def generate_response(prompt):
    
#     message_history.append({"role": "user", "content": f"{prompt}"})
    
#     response = openai.Completion.create(
#         engine='text-davinci-003',  
#         prompt prompt,
#         max_tokens=100,  
#         temperature=0.7,  
#         n=1,  
#         stop=None,
#     )
    
#     reply_content = response.choices[0].message.content
#     message_history.append({"role": "assistant", "content": f"{reply_content}"}) 
    
#     return response.choices[0].message.content.strip()


# chunk_size = 120

# for i in range(0, len(df), chunk_size):
#     chunk = df[i:i+chunk_size]
#     prompt = "Here is a chunk of time series data:\n\n" + chunk.to_string(index=False) + "\n\nGiven that saturday and sunday are holidays except for some weeks , Can you tell me how many times the open price crossed 1% in that week if week starts from wednesday?"
#     response = generate_response(prompt)
#     print("Response for Chunk", i//chunk_size + 1, ":", response)

In [7]:
breach_data = pd.read_csv('breach_1%.csv')
breach_data

,Date,Time,Open,High,Low,Close,Volume,OI,weekday,day,week,day_flag,Wednesday,Flag
0,2020-01-08,09:17:00,30975.95,30975.95,30929.30,30929.30,0,0,Wednesday,8,2,True,2020-01-07 00:00:00,0
1,2020-01-08,09:44:00,31189.50,31275.25,31189.50,31252.00,0,0,Wednesday,8,2,True,2020-01-07 00:00:00,0
2,2020-01-08,09:45:00,31253.50,31354.85,31253.50,31298.85,0,0,Wednesday,8,2,True,2020-01-07 00:00:00,1
3,2020-01-08,10:17:00,31230.00,31260.55,31230.00,31254.55,0,0,Wednesday,8,2,True,2020-01-07 00:00:00,0
4,2020-01-08,10:18:00,31253.10,31298.05,31253.10,31275.15,0,0,Wednesday,8,2,True,2020-01-07 00:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,2020-12-23,14:10:00,29790.30,29810.35,29779.10,29809.10,0,0,Wednesday,23,52,True,2020-12-22 00:00:00,1
518,2020-12-23,14:12:00,29785.15,29806.15,29785.15,29798.40,0,0,Wednesday,23,52,True,2020-12-22 00:00:00,0
519,2020-12-23,14:13:00,29799.70,29829.05,29797.30,29825.95,0,0,Wednesday,23,52,True,2020-12-22 00:00:00,1
520,2020-12-23,14:36:00,29794.95,29798.30,29788.75,29793.70,0,0,Wednesday,23,52,True,2020-12-22 00:00:00,0
521,2020-12-23,14:37:00,29792.55,29820.25,29792.55,29819.40,0,0,Wednesday,23,52,True,2020-12-22 00:00:00,1

In [11]:
import openai
openai.api_key = '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'
message_history = [
    {"role": "user", "content": "You are a finance assistant bot. I will specify the subject matter in my messages, and you will reply with information that includes the subjects I mention in my messages. Reply only with information to further input."},
    {"role": "assistant", "content": "OK"}
]


def generate_response(prompt):
    response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=message_history[-2:],
        max_tokens=500,
        temperature=0.7,
        n=1,
        stop=None,
    )

    reply_content = response.choices[0].message.content.strip()
    message_history.append({"role": "user", "content": prompt})
    message_history.append({"role": "assistant", "content": reply_content})

    return reply_content


chunk_size = 50

# for i in range(0, len(df), chunk_size):
#     chunk = df[i:i+chunk_size]
#     prompt = (
#         "Here is a chunk of time series data:\n\n" + chunk.to_string(index=False) +
#         "\n\nGiven that Saturday and Sunday are holidays except for some weeks, tell me how many times the open price crossed 1% in that week.?"
#     )
#     print(prompt)
#     response = generate_response(prompt)
#     print("Response for Chunk", (i // chunk_size) + 1, ":", response)
for i in range(2):
    chunk = df[0:50]
    prompt = ("here is a chunk of time series data:\n\n" +
              chunk.to_string(index=False) +
              "\n\ntell me how many times the open_price crossed 1% in this week and when? trace the code for the given chunk of data")
    print(prompt)
    response = generate_response(prompt)
    time.sleep(20)
    print(response)

here is a chunk of time series data:

      Date     Time      Open     High      Low    Close   Weekday
2019-04-01 09:15:00 30599.950 30592.40 30556.95 30575.35    Monday
2019-04-01 10:15:00 30592.275 30616.60 30601.40 30606.90    Monday
2019-04-01 11:15:00 30542.055 30573.85 30560.60 30568.05    Monday
2019-04-01 12:15:00 30471.765 30478.25 30467.70 30470.40    Monday
2019-04-01 13:15:00 30518.470 30525.15 30515.50 30518.20    Monday
2019-04-01 14:15:00 30615.015 30643.55 30615.85 30638.25    Monday
2019-04-01 15:15:00 30268.535 30320.65 30256.95 30256.95    Monday
2019-04-02 09:07:00 30298.900 30450.10 30450.10 30450.10   Tuesday
2019-04-02 10:14:00 30304.385 30313.30 30294.60 30306.10   Tuesday
2019-04-02 11:14:00 30304.500 30280.35 30268.10 30279.45   Tuesday
2019-04-02 12:14:00 30342.825 30347.55 30341.15 30342.85   Tuesday
2019-04-02 13:14:00 30296.935 30297.15 30287.40 30291.75   Tuesday
2019-04-02 14:14:00 30192.040 30233.35 30196.85 30204.10   Tuesday
2019-04-02 15:14:00 30391.080 30342.20 30321.95 30326.75   Tuesday
2019-04-03 09:07:00 30550.945 30440.85 30440.85 30440.85 Wednesday
2019-04-03 10:14:00 30507.510 30535.55 30531.30 30533.10 Wednesday
2019-04-03 11:14:00 30465.120 30476.75 30450.25 30463.70 Wednesday
2019-04-03 12:14:00 30470.700 30479.70 30474.10 30479.60 Wednesday
2019-04-03 13:14:00 30494.170 30518.15 30475.50 30515.25 Wednesday
2019-04-03 14:14:00 30350.200 30368.35 30350.05 30367.40 Wednesday
2019-04-03 15:14:00 30072.460 30080.35 30062.10 30068.75 Wednesday
2019-04-04 09:07:00 30110.210 30147.30 30147.30 30147.30  Thursday
2019-04-04 10:14:00 30093.935 30106.05 30100.80 30102.55  Thursday
2019-04-04 11:14:00 30124.735 30142.20 30133.75 30135.65  Thursday
2019-04-04 12:14:00 30094.740 30031.30 30010.25 30022.60  Thursday
2019-04-04 13:14:00 30139.315 30170.70 30162.85 30167.10  Thursday
2019-04-04 14:14:00 29966.470 30071.85 30057.70 30060.80  Thursday
2019-04-04 15:14:00 29899.300 29896.15 29885.55 29886.75  Thursday
2019-04-05 09:07:00 30040.740 30002.85 30002.85 30002.85    Friday
2019-04-05 10:14:00 30012.610 30037.95 30026.20 30027.55    Friday
2019-04-05 11:14:00 29922.695 29957.40 29934.05 29941.80    Friday
2019-04-05 12:14:00 29902.935 29935.45 29926.25 29930.90    Friday
2019-04-05 13:14:00 29973.820 29936.65 29929.15 29935.50    Friday
2019-04-05 14:14:00 29933.940 29949.15 29937.40 29937.40    Friday
2019-04-05 15:14:00 30105.985 30051.50 30035.45 30049.00    Friday
2019-04-08 09:07:00 30163.955 30201.50 30201.50 30201.50    Monday
2019-04-08 10:14:00 30135.025 30145.00 30132.60 30132.60    Monday
2019-04-08 11:14:00 30105.970 30101.35 30093.10 30100.25    Monday
2019-04-08 12:14:00 30065.115 30073.05 30061.05 30062.95    Monday
2019-04-08 13:14:00 30023.070 30024.90 30012.00 30022.25    Monday
2019-04-08 14:14:00 29813.540 29840.70 29824.70 29836.60    Monday
2019-04-08 15:14:00 29851.705 29846.90 29836.60 29840.05    Monday
2019-04-09 09:15:00 29821.835 29938.50 29802.25 29804.00   Tuesday
2019-04-09 10:15:00 29834.335 29858.40 29847.50 29851.10   Tuesday
2019-04-09 11:15:00 29779.750 29794.25 29787.40 29791.35   Tuesday
2019-04-09 12:15:00 29752.005 29750.15 29739.40 29743.95   Tuesday
2019-04-09 13:15:00 29828.305 29832.95 29814.95 29822.00   Tuesday
2019-04-09 14:15:00 30015.050 29993.25 29979.15 29992.00   Tuesday
2019-04-09 15:15:00 30146.970 30146.05 30125.25 30137.05   Tuesday
2019-04-10 09:07:00 30029.815 29916.60 29916.60 29916.60 Wednesday

tell me how many times the open_price crossed 1% in this week and when? if there is any pre-processing to be done, please do the needful and trace the code for the given chunk of data
Understood. I will provide information related to the subject matter you mention in your messages. Please go ahead and specify the subject you would like to discuss.
here is a chunk of time series data:

      Date     Time      Open     High      Low    Close   Weekday
2019-04-01 09:15:00 30599.950 30592.40 30556.95 30575.35    Monday
2019-04-01 10:15:00 30592.275 30616.60 30601.40 30606.90    Monday
2019-04-01 11:15:00 30542.055 30573.85 30560.60 30568.05    Monday
2019-04-01 12:15:00 30471.765 30478.25 30467.70 30470.40    Monday
2019-04-01 13:15:00 30518.470 30525.15 30515.50 30518.20    Monday
2019-04-01 14:15:00 30615.015 30643.55 30615.85 30638.25    Monday
2019-04-01 15:15:00 30268.535 30320.65 30256.95 30256.95    Monday
2019-04-02 09:07:00 30298.900 30450.10 30450.10 30450.10   Tuesday
2019-04-02 10:14:00 30304.385 30313.30 30294.60 30306.10   Tuesday
2019-04-02 11:14:00 30304.500 30280.35 30268.10 30279.45   Tuesday
2019-04-02 12:14:00 30342.825 30347.55 30341.15 30342.85   Tuesday
2019-04-02 13:14:00 30296.935 30297.15 30287.40 30291.75   Tuesday
2019-04-02 14:14:00 30192.040 30233.35 30196.85 30204.10   Tuesday
2019-04-02 15:14:00 30391.080 30342.20 30321.95 30326.75   Tuesday
2019-04-03 09:07:00 30550.945 30440.85 30440.85 30440.85 Wednesday
2019-04-03 10:14:00 30507.510 30535.55 30531.30 30533.10 Wednesday
2019-04-03 11:14:00 30465.120 30476.75 30450.25 30463.70 Wednesday
2019-04-03 12:14:00 30470.700 30479.70 30474.10 30479.60 Wednesday
2019-04-03 13:14:00 30494.170 30518.15 30475.50 30515.25 Wednesday
2019-04-03 14:14:00 30350.200 30368.35 30350.05 30367.40 Wednesday
2019-04-03 15:14:00 30072.460 30080.35 30062.10 30068.75 Wednesday
2019-04-04 09:07:00 30110.210 30147.30 30147.30 30147.30  Thursday
2019-04-04 10:14:00 30093.935 30106.05 30100.80 30102.55  Thursday
2019-04-04 11:14:00 30124.735 30142.20 30133.75 30135.65  Thursday
2019-04-04 12:14:00 30094.740 30031.30 30010.25 30022.60  Thursday
2019-04-04 13:14:00 30139.315 30170.70 30162.85 30167.10  Thursday
2019-04-04 14:14:00 29966.470 30071.85 30057.70 30060.80  Thursday
2019-04-04 15:14:00 29899.300 29896.15 29885.55 29886.75  Thursday
2019-04-05 09:07:00 30040.740 30002.85 30002.85 30002.85    Friday
2019-04-05 10:14:00 30012.610 30037.95 30026.20 30027.55    Friday
2019-04-05 11:14:00 29922.695 29957.40 29934.05 29941.80    Friday
2019-04-05 12:14:00 29902.935 29935.45 29926.25 29930.90    Friday
2019-04-05 13:14:00 29973.820 29936.65 29929.15 29935.50    Friday
2019-04-05 14:14:00 29933.940 29949.15 29937.40 29937.40    Friday
2019-04-05 15:14:00 30105.985 30051.50 30035.45 30049.00    Friday
2019-04-08 09:07:00 30163.955 30201.50 30201.50 30201.50    Monday
2019-04-08 10:14:00 30135.025 30145.00 30132.60 30132.60    Monday
2019-04-08 11:14:00 30105.970 30101.35 30093.10 30100.25    Monday
2019-04-08 12:14:00 30065.115 30073.05 30061.05 30062.95    Monday
2019-04-08 13:14:00 30023.070 30024.90 30012.00 30022.25    Monday
2019-04-08 14:14:00 29813.540 29840.70 29824.70 29836.60    Monday
2019-04-08 15:14:00 29851.705 29846.90 29836.60 29840.05    Monday
2019-04-09 09:15:00 29821.835 29938.50 29802.25 29804.00   Tuesday
2019-04-09 10:15:00 29834.335 29858.40 29847.50 29851.10   Tuesday
2019-04-09 11:15:00 29779.750 29794.25 29787.40 29791.35   Tuesday
2019-04-09 12:15:00 29752.005 29750.15 29739.40 29743.95   Tuesday
2019-04-09 13:15:00 29828.305 29832.95 29814.95 29822.00   Tuesday
2019-04-09 14:15:00 30015.050 29993.25 29979.15 29992.00   Tuesday
2019-04-09 15:15:00 30146.970 30146.05 30125.25 30137.05   Tuesday
2019-04-10 09:07:00 30029.815 29916.60 29916.60 29916.60 Wednesday

tell me how many times the open_price crossed 1% in this week and when? if there is any pre-processing to be done, please do the needful and trace the code for the given chunk of data
To determine how many times the open price crossed 1% in this week and when, we need to perform the following steps:

1. Pre-processing: Convert the "Date" and "Time" columns to a single datetime column.
2. Calculate the 1% threshold value.
3. Iterate through the data to identify the times when the open price crossed the 1% threshold.
4. Count the number of times the open price crossed the 1% threshold and display the corresponding dates and times.

Here's the code to accomplish this:

```python
import pandas as pd

# Step 1: Pre-processing
df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

# Step 2: Calculate the 1% threshold value
threshold = df['Open'].mean() * 0.01

# Step 3: Identify the times when the open price crossed the 1% threshold
crossings = df[(df['Open'] > threshold) | (df['Open'] < -threshold)]

# Step 4: Count the number of crossings and display the corresponding dates and times
num_crossings = len(crossings)
crossing_dates = crossings['DateTime'].dt.date
crossing_times = crossings['DateTime'].dt.time

print("Number of times the open price crossed 1%:", num_crossings)
print("Crossing Dates:")
print(crossing_dates)
print("Crossing Times:")
print(crossing_times)
```

Note: Replace `df` with the name of your DataFrame containing the provided chunk of data.